.loginText{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: auto auto;
}

.submitButton{
    margin: 10px;
}

.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;
}

.formButtons{
    margin-left: 6vw;
    margin-top: .5vh;
    padding: 1.5vw;
    padding-right: 3vw;
    padding-left: 3vw;
}

.textFields{
    margin-bottom: 1vh;
    height: 2vh;
    width: 27vw;
    font-size: 18px
}

#passwordBox{
    font-size: 24px;
}
.fieldLabels{
    font-size: 1.2em;
}
