*{
    color: rgb(159, 182, 224)
    
}

body{
    background-color: rgb(15, 15, 15);
    outline: none;
    
}

.contentArea{
    width: 70vw;
    height: 65vh;
    align-items: center;
    
}

.textBody{
    width: 78.5vw;
    height: 75vh;
     resize: none;
    font-size: 16px;
    background-color: transparent;
    border: 1px groove rgb(45,45,45);

}

.titleArea{
    width: 78.5vw;
    height: 2vw;
    resize: none;
    font-size: 26px;
    background-color: transparent;
    border: 1px groove rgb(45,45,45);
}

.textBody, .titleArea{
    transition: border 0.5s ease;
}


.titleArea:focus, .textBody:focus, .buttons:focus{
    border:1px solid rgb(200, 200, 200);
    outline: none;
    
}
.noteForm{
    display: flex;
    column-gap: 2vw;
    align-items: center;
}

.button{
    height: 4vh;
    width: 8vw;
    background-color:rgb(105, 105, 105);

    
}
.buttonContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    

}