@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body{
    background-color: rgb(15, 15, 15);
}

.App{
  background-color: rgb(15, 15, 15);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
